.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.select-container {
  text-align: center;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-card {
  width: 45%;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin-bottom: 20px;
}

.team-logo {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.team-details {
  padding: 20px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;
}

.team-info {
  margin: 5px 0;
}
